body{
    background-color: #F2F3F7; 
}

h1{
    font-size: 40px;
    text-align: center;
    margin: 20px auto 10px auto;
}

.function-container{
    display: flex;
    justify-content: center;
}

.root-div{
    margin: 50px 0px 0px 30px;
    text-align: center;
    border-width: 1px 0px 0px 1px;
    border-style: solid;
    border-color: rgb(0,0,0,0.5);
}

.options{
    text-align: center;
    margin-top: 20px;
}

select{
    padding: 5px 15px;
    border-radius: 5px; 
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

label{
    margin: 0px 11px;
}

.buttons{
    margin: auto 100px; 
}

button{
    padding: 20px 30px;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: none;
    border: 1px solid black;

}

button:hover{
    background-color: lightgray;
}

.div-color{
    background-color: white;
    border-style: solid;
    border-color: rgb(0,0,0,0.5);
    border-width: 0px 1px 1px 0px;
}


