body{
    text-align: center;
    background-color:#ededed; 
}

h1 {
    font-size: 80px;
    font-weight:800; 
    padding: 40px;
    color: rgb(0,0,0,0.8);
}

.operations{
    display: flex;
    flex-direction: column;
    gap:40px; 
    align-items: center;
}
 
input[type='color'] {
    width: 100px;
    height: 100px;
    display: block;
    
}

button{
    font-size: 20px;
    font-weight: 400;
    padding: 15px 100px;
    border-radius:50px;
    border: 1px solid black;
    width: 100%;
    background-color: white;
}

.button-clicked{
    background-color: black; 
    color:white; 
}


.root-div{
    margin: 30px;
    border: 1px solid rgb(0,0,0,0.5);
    height: 700px;
    width: 700px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.12); 
}

@media screen and (max-width: 750px) {
    .root-div {
        width: 500px; 
        height: 500px;
    }
}

@media screen and (max-width: 550px) {
    .root-div {
        width: 400px; 
        height: 400px;
    }
}

.parent-div{
    display: flex;
    flex:1; 
}

.function-container{
    display: flex;
    justify-content: center; 
    gap: 100px; 
    flex-wrap: wrap;
    align-items: center;
}

.small-div {
    flex : 1;
}


